# Local .terraform directories
*.terraform
.terraform
*.tfplan
*.tfstate.backup
.terraform/*
.terraform/modules

# .tfstate files
*.tfstate
*.tfstate.*
*.lock.info

# Crash log files
crash.log

*.tfvars

.DS_Store
.terraform.lock.hcl